.App {
  text-align: center;
  color: green;
}

div {
  color: green;
}

.home, .home div, .Login, .markets, .navbar, .form {
  display: flex;
}

.home, .home div {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home div {
  flex-direction: column;
  flex-wrap: wrap;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  color: green;
  background-color: whitesmoke;
  padding: 1em;
  min-height: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  color: green;
  text-align: center;
  align-items: center;
}

